<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490371470024-ja5huv6qk2kok08ma21evadts0r65uns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490371470024-ja5huv6qk2kok08ma21evadts0r65uns</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>490371470024-q7b1ehlqej6cdt5728cevbakmjii67h2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXksXPSzkXPu5BR4_N94xWVJ2SVZXLt3E</string>
	<key>GCM_SENDER_ID</key>
	<string>490371470024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weatherApp</string>
	<key>PROJECT_ID</key>
	<string>sms-buy-sell</string>
	<key>STORAGE_BUCKET</key>
	<string>sms-buy-sell.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490371470024:ios:0b199b1ac1e2e008480bfd</string>
</dict>
</plist>